fieldset {
    width: 500px;
    height: 420px;
    padding-left: 15px;
    border: 2px solid steelblue;
}

.box {
    border: 2px #055c9d solid;
    line-height: 20px;
    height:30px;
    width:170px;
    padding: 3px 0px 5px 0px;
}

.td {
    text-align:left;
    display:inline-block;
    font-family: 'Times New Roman' ;
    width:100px;
    height:20px;
    font-size:18px;
    padding-top:8px;
    margin-left: 10px;
    color: black;
}

th {
    font-weight: normal;
    text-align: left;
    padding: 3px;
}

button {
    background-color: steelblue;
    color: #f0f0f0;
    border: 2px #055c9d solid;
    border-radius: 10px;
    width: 20%;
    height: 43px;
    margin-left: 19%;
    margin-top: 15px;
    text-align: center;
}

.btn_add {
    background-color: steelblue;
    color: #f0f0f0;
    border: 2px #055c9d solid;
    border-radius: 10px;
    width: 44%;
    height: 30px;
    margin-left: 140px;
    margin-top: 15px;
    text-align: center;
}
.btn_mod {
    color: white;
    display: inline-block;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: #7DAED8;
    border: 2px solid steelblue;
    text-decoration: none;
    margin-right: 8px;
}

.list_student {
    margin-top: 5px;
}

